body{
    background-color: #E8F1F5;
}

p.normal{
    font-style: normal;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 14px;
}
ul {
    list-style-position: inside;
}